.card-sermon-content {

    .series-container {
        padding: 10px 15px;
        background: #F5F7FC;
        display: flex;
        align-items: center;
    
        .series-thumbnail {
            width: 100px;
            img {
                width: 100%;
            }
        }
        .series-title {
            margin-left: 8px;
        }
    }
 
}
